/* Light theme */
body.light-theme {
  background-color: #fff;
  color: #000;
}

body.light-theme .navbar,
body.light-theme .footer,
body.light-theme .shop,
body.light-theme .product,
body.light-theme .cart,
body.light-theme .login {
  background-color: #fff;
  color: #000;
}

/* Dark theme */
body.dark-theme {
  background-color: #111;
  color: #fff;
}

body.dark-theme .navbar,
body.dark-theme .footer,
body.dark-theme .shop,
body.dark-theme .product,
body.dark-theme .cart,
body.dark-theme .login {
  background-color: #111;
  color: #fff;
}
